<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <title>Update Pharmacy</title>
</head>
<body>
<div class="container">

  <h3>Update Pharmacy</h3>
  <hr/>

  <form class="contact_form" method="POST" th:object="${pharmacy}">
    <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Enter Name" />

    <input type="text" th:field="*{est_year}" class="form-control col-4 mb-4" placeholder="Enter Establishment Year" />

    <button type="submit" class="btn btn-primary col-2">Update</button>
    <input type="hidden" th:field="*{idpharmacy}" />

  </form>
  <hr/>
  <a th:href="@{/api/v1/Pharmacies}">Back to list</a>
</div>
</body>
</html>